<div class="container" data-controller="change-price" data-change-price-price-value="<%= number_to_currency(@art.price, unit: "€")%>">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render "shared/form-booking" %>
      </div>
    </div>
  </div>
</div>