<div class="container">
  <div class="gallery">
    <% @arts.each do |art| %>
      <div class="gallery-item img-h">
        <a href="<%= art_path(art.id) %>">

            <img style= "<%= cl_image_tag art.photo.key, height: 900, crop: :fill %>">

      </div>
    <% end %>
  </div>
</div>
