<div class="container">
  <div class="gallery">
    <% @arts.each do |art| %>
      <div class="gallery-item img-h">
        <a href="<%= art_path(art.id) %>">
        <% unless art.picture.empty? %>
          <img src="<%= art.picture %>" alt="...">
        <% end %>
      </div>
    <% end %>
  </div>
</div>