<div class="container">
  <div class="gallery">
    <% @arts.each do |art| %>
      <div class="gallery-item img-h">
        <a href="<%= art_path(art.id) %>">
            <%= cl_image_tag art.photo.key, height: 900, crop: :fill if !art.photo.key.nil? %>
        </a>
      </div>
    <% end %>
  </div>
</div>
